.item-container {
    display: flex; 
    flex-direction: column; 
    margin: 20px; 
    width: 300px; 
    text-align: center; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    overflow: hidden; 
    transition: transform 0.2s, box-shadow 0.2s; 
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.item-container:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.item-link {
    text-decoration: none; 
    color: inherit; 
}

.item-image {
    width: 100%; 
    height: auto; 
    border-bottom: 1px solid #ddd; 
}

.item-info {
    padding: 15px; 
}

.item-list {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    max-width: 100%; 
}
.item-add-button {
    background-color: #171e27;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.item-add-button:hover {
    background-color: #172625;
}
